@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .features-icon-bg {
    display: none;
  }

  .features-item {
    max-width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--header-menu-link);
  }

  .current {
    position: relative;
    color: var(--header-menu-link);
  }

  .current::after {
    content: "";
    left: 0;
    bottom: -1px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--header-menu-link);
    border-radius: 2px;
  }

  .header-menu-link:active {
    color: var(--header-menu-link);
  }

  .header-contacts {
    font-style: normal;
    margin-left: auto;
  }

  .header-contacts-list {
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--item-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: #404bbf;
  }

  .header-contacts-link:active {
    color: var(--header-menu-link);
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2x.jpg);
    }
  }

  .features-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 2);
  }

  .features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    color: var(--subtitle-color);
    margin-bottom: 8px;
    text-align: left;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
    align-items: baseline;
    gap: 72px 24px;
  }

  .footer-box {
    text-align: left;
  }

  .footer-soc-container {
    text-align: left;
  }

  .footer-subscribe {
    text-align: left;
    margin-left: 0;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .features-icon-bg {
    width: 264px;
    height: 112px;
    background-color: var(--button-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .activity {
    display: flex;
  }

  .team {
    padding: 120px 0 120px;
  }

  .team-list {
    gap: 24px;
  }

  .customers {
    padding: 120px 0;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: unset;
    flex-direction: unset;
    gap: unset;
    align-items: baseline;
  }

  .footer-box {
    margin-right: 120px;
  }

  .footer-title {
    width: 264px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }
}
