@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
.features-icon-bg {
    display: none;
}

.features-item {
    max-width: 396px;
  }

}

@media screen and (min-width: 768px) {
  .container {
    max-width: 584px;
  }

  .features-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 2);
  }

  .features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.72px;
    color: var(--subtitle-color);
    margin-bottom: 8px;
    text-align: left;
  }

  
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .features-icon-bg {
      width: 264px;
      height: 112px;
      background-color: var(--button-background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-bottom: 8px;
  }

  .features-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      text-align: left;
  }

  .features-list {
      gap: 24px
  }

  .features-item {
    max-width: unset;
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .activity {
      display: flex;
  }

  .team {
    padding: 120px 0 120px;
  }

  .team-list {
    gap: 24px;
  }

  .customers {
      padding: 120px 0;
  }

.footer-container {
    flex-direction: row;
    align-items: baseline;
}

  .footer-box {
      margin-right: 120px;
  }

  .footer-title {
   width: 268px;
  }

  .footer-subscribe {
      margin-left: 80px;
  }
  .footer-form {
    flex-direction: row;
  }
}
